name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Build the Docker image
    # Docker builds an image using the code here, specifically using the file named Dockerfile and tag it with what follows after
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}

    - name: Start Container To See Code Results
    # Docker runs (-d detached so GitHub Actions can run this in the background) -p for port, maps port 80 to port 3000 and adds name
      run: docker run -d -p 80:3000 --name liatrio-webapp ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}
    
    - name: Run Liatrio Tests
    # Runs 6 tests provided by Liatrio
      uses: liatrio/github-actions/apprentice-action@master

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push Image
    # Log into Docker Hub (Docker images on computer can be public so other people can see/access/download, like repo for images)
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}
     