name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}

    - name: Start Container for Testing
      run: docker run -d -p 80:3000 --name test-app ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}
    
    - name: Run Liatrio Tests
      uses: liatrio/github-actions/apprentice-action@master

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push Image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/liatrio-exercise:${{ github.run_id }}
     